{% extends "base.html" %}

{% block title %}Sitemap{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1 class="display-4">Current List of all Routes</h1>
	</div>
	<div>
	<ul>
		<li><a href="/index">Home</a></li>
		<li><a href="/admin_only">Admin</a></li>
		<li><a href="/signup">Sign Up</a></li>
		<li><a href="/create_user">Create User</a></li>
		<li><a href="/login">Login</a></li>
		<li><a href="/success">Success</a></li>
		<li><a href="/sitemap">Sitemap</a></li>
		<li><a href="/change_password">Change Password</a></li>
		<li><a href="/forgot_password">Forgot Password</a></li>
		<li><a href="/change_email">Change Email</a></li>
		<li><a href="/change_class">Change Class</a></li>
		<li><a href="/delete_account">Delete Account</a></li>
		<li><a href="/wishlist">Wishlist</a></li>
		<li><a href="/courselist">Courselist</a></li>
		<li><a href="/courseadd">Add Course</a></li>
		<li><a href="/lookup">Course Lookup</a></li>
		<li><a href="/faculty">Faculty</a></li>
		<li><a href="/account">Account</a></li>
		<li><a href="/logout">Logout</a></li>
	</ul>
</div>
{% endblock %}
